<a href="https://colab.research.google.com/github/Leewonyong1/Python-/blob/main/Untitled10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
name = "test"
if name == "test":
    print("이름이 맞습니다")
else:
    print("이름이 틀립니다.")

이름이 맞습니다

In [ ]:
pocket = 500
if pocket == 1000:
    print("복권 구매")
elif pocket ==500:
    print("껌 구매")
else:
    print("집이나 가야지")

In [ ]:
a = "사과"
b = "바나나"
c = "치즈"
if a == "사과" or b == "안바나나":
    print("사과 이거나 바나나 입니다.")

if a == "사과" and b == "바나나":
    print("사과 이고 바나나 입니다.")

if not c == "사과":
    print("사과가 아니어야 여기 들어옵니다.")

In [ ]:
a = [1,2,3,4,5,6,7,8,9,10]

if 1 in a:
    print("1 is in a")

if 10 in a:
    print("10 is in a")

In [ ]:
p_class = "Z"
sel_amount = 79900

if p_class == "A":
  sel_amount *= 0.7
  print(sel_amount)
elif p_class == "B":
  sel_amount *= 0.85
  print(sel_amount)
elif p_class == "C":
  sel_amount *= 0.92
  print(sel_amount)
elif p_class == "Z":
  sel_amount += 5000
  print(sel_amount)

In [ ]:
p_class = "Z"
sel_amount = 79900

if p_class == "A":
  sel_amount *= 0.7 # 55930.0
  print(f'판매가는 {sel_amount}원 입니다.')
elif p_class == "B":
  sel_amount *= 0.85 # 67915.0
  print(f'판매가는 {sel_amount}원 입니다.')
elif p_class == "C":
  sel_amount *= 0.92# 84900
  print(f'판매가는 {sel_amount}원 입니다.')
elif p_class == "Z":
  sel_amount += 5000 # 84900
  print(f'판매가는 {sel_amount}원 입니다.')

In [ ]:
x = 11

if x< 10:
  print('x는 10보다 작아!')
else:
  print('x는 10보다 작지않아!')

In [ ]:
x = 3

if x < 10:
  print('x는 10보다 작아!')
  if x%2 == 0:
    print('x는 짝수야!')
  else:
    print('x는 홀수야!')
else:
  print('x는 10보다 커!')
  if x%2 == 0:
    print('x는 짝수야!')
  else:
    print('x는 홀수야!')

In [ ]:
x = 3

if x<10 and x%2==0:
  print('x는 10보다 작으면서 짝수야!')
if x<10 and not x%2==0:
  print('x는 10보다 작으면서 홀수야!')
if not x<10 and x%2==0:
  print('x는 10보다 크면서 짝수야!')
if not x<10 and not x%2==0:
  print('x는 10보다 크면서 홀수야!')

In [ ]:
j = 0
result1 = 0
while True:
  if j > 100:
    break

  j +=1
  if j % 2 == 0:
    result1 += j

print('1번 방법 (break) : {0}'.format(result1))

In [ ]:
k = 0
result2 = 0
while k < 100:
  k += 1
  if k % 2 != 0:
    continue

  result2 += k

print('2번 방법 (continue) : {0}'.format(result2))