<a href="https://colab.research.google.com/github/Leewonyong1/Python-/blob/main/Untitled9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
>>> x = int(input('number : '))
number : 123
>>> x
123

In [ ]:

>>> x = float(input('number : '))
number : 1.23
>>> x
1.23

In [ ]:
i = 0
result = 0
while i < 5:
    a = input("성적 입력 : ")
    result += int(a)
    i += 1


print(f'평균 : {result / 5}')

In [1]:
test_list = ['one', 'two', 'three']
for i in test_list:
  print(i)

one
two
three

In [ ]:

for i in range(1, 10):
  print(i)

In [ ]:
result = 0
for a in range(1, 101):  #1 ~ 100

  result = result + a
  print(f"{a} {result}")

print(result)

In [ ]:
index = 0
s = "BlockDMask"
for a in s:
    if a == 'k':
        break    # 'k'를 찾았으니 for문에서 나와랏!

    index = index + 1


print(index)    # 'k'가 첫번째로 존재하는 위치 출력

In [ ]:
result = 0
for a in range(1,101):  # 1 ~ 100
    result = result + a    # a를 더해주고

    if result > 100:    # result가 100이 넘었을때
        print(a)        # 그때의 a값을 출력
        break

print(result)

In [ ]:
student = [180, 170, 164, 199, 182, 172, 177]
for a in student:
    if a > 170:
        continue  # 키가 170보다 크면 continue

    print(a)

In [ ]:

result = 0
for a in range(1,101):  #1 ~ 100
    if a % 2 == 1:      #2로 나누었을때 나머지가 1
        result = result + a

print(result)

In [ ]:
l = ['Alice' , 'Bob' , 'Charlie']

for name in l:
    if name == 'Bob':
        print('!!BREAK!!')
        break
    print(name)
else:
    print('!!FINISH!!')

In [ ]:
a = ['Alice','Bob','Charlie']

for name in a:
  print(name)

for i, name in enumerate(a):
  print(i, name)

In [2]:
print(list(range(0, 10, 3)))
# [0, 3, 6, 9]

[0, 3, 6, 9]

In [3]:
print(list(range(10, 0, -3)))
# [10, 7, 4, 1]

[10, 7, 4, 1]

In [4]:
for i in range(10, 0, -3): print(i)
#10
#7
#4
#1

10
7
4
1

In [6]:
test_list = ['Alice', 'Bob', 'Charlie']

# Iterate through the list and print each name
for name in test_list:
    print(name)
# Output:
# Alice
# Bob
# Charlie

# Iterate through the list using enumerate to also print the index
for i, name in enumerate(test_list):
    print(i, name)
# Output:
# 0 Alice
# 1 Bob
# 2 Charlie

Alice
Bob
Charlie
0 Alice
1 Bob
2 Charlie

In [7]:
test_list = ['Alice', 'Bob', 'Charlie']

# Enumerate with start index 1
for i, name in enumerate(test_list, 1):
    print(i, name)
# Output:
# 1 Alice
# 2 Bob
# 3 Charlie

# Enumerate with start index 42
for i, name in enumerate(test_list, 42):
    print(i, name)
# Output:
# 42 Alice
# 43 Bob
# 44 Charlie

1 Alice
2 Bob
3 Charlie
42 Alice
43 Bob
44 Charlie